/* FONTS

font-family: 'Poppins', sans-serif;
font-family: 'Staatliches', cursive;

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page { 
  width: 750px;
  margin: auto;
}

header {
  text-align: center;
  margin: 0 auto;
  margin-top: 74px;
}

header p {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 38px;
  margin-top: 18px;
  font-size: 16px;
  color: #FFF;
}

header h1 {
  font-family: 'Staatliches', cursive;
  font-weight: 500;
  font-size: 48px;
  color: #FFF;
}

header legend {
  font-family: 'Staatliches', cursive;
  font-weight: 500;
  font-size: 24px;
  color: #FFF;
  text-align: center;
  background: #F67669;
  padding: 43px;
  border-radius: 20px 20px 0px 0px;
}

img {
  width: 225px;
  margin: 2px 0 32px 0;
}

body {
  background: #BFD7E4;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 469px;
  background: #293241;
}

form {
  display: flex;
  flex-direction: column;
  background: #FFF;
  gap: 48px;
  padding: 64px 64px 0 64px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

label {
  color: #4E4958;
font-size: 14px;
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: 24px;
}


fieldset legend {
  font-family: Staatliches;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  width: 100%;
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 16px;
  color: #535971;
  margin-bottom: 32px;
  text-align: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.input-wrapper label span {
  margin-left: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #C1BCCC;

}

#mentor-check {
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid var(--back-lines-in-white, #E6E6F0);
  background: var(--shapes-02, #FAFAFC);
  display: inline-block;
  vertical-align: middle;
}

#mentor-check:checked {
  background-color: #F67669;
}


.input-wrapper label span:hover {
  color: #59575f;
}

.input-wrapper input, 
.input-wrapper textarea, 
.input-wrapper select {

  box-sizing: border-box;

  height: 56px;

  padding: 0 24px;

  font-size: 16px;
  line-height: 26px;

  border-radius: 8px;

  border: 1px solid var(--back-lines-in-white, #E6E6F0);

  background: var(--shapes-02, #FAFAFC);

  margin-bottom: 10px;

}

.input-wrapper textarea {
  padding: 0;
  height: 168px;
}

.check-wrapper {
  margin-top: 29px;
}

#mentor-feedback {
  height: 166px;
}

.input-wrapper select {
  appearance: none;
  -webkit-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 24px top 50%;
}

.time-subtitle {
  font-family: Staatliches;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: #535971;
}

.col-2 {
  display: flex;
  gap: 20px;
}

.col-2 .input-wrapper {
  width: 100%;
}

.col-3 {
  display: flex;
  gap: 20px;
}

.col-3 > div:nth-child(1) {
  width: 100%;
}

.checkbox-wrapper label {
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 0;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  opacity: 0;
}

.checkbox-wrapper input:checked + label::before{
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1223_20)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1223_20'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.checkbox-wrapper label::before {
  content: '';
  width: 24px;
  height: 24px;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
  display: block;
}

.checkbox-wrapper input:focus + label::before{
  outline: 2px solid black;
}

footer {
  background: #ffffff;
  height: 136px;
  display: flex;
  flex-direction: column;
  padding: 40px 64px;
  margin-bottom: 100px;
  border-radius: 0 0 8px 8px;
}

footer .button {
  height: 56px;
  color: #FFF;
  border-radius: 20px;
  background: #F67669;
  border: none;
  font-family: Staatliches;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

footer .button:hover {
  background-color: #de4765;
}

